body {
    background-color: black;
}

.music-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 35px;
    position: sticky;
    top: 70px;
    right: 20px;
    background-color: grey;
    border-radius: 10px;
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p {
    color: white;
    text-align: center;
    font-family: 'Pirata One', cursive;
}

p {
    font-family: 'Atma', cursive;
}

.challenge-1 {
    height: 100vh;
}

.tutorial-message {
    display: none;
    position: fixed;
    top: 105px;
    right: 10px;  
    font-size:14px; 
}

.map-button {
    display: none;
    position: fixed;
    top: 50px;
    right: 0;
    background-color: #263238;
    padding-left: 20px;
    border-radius: 35px 0 0 35px;
}

.map-button img {
    height: 60px;
    margin-right: 60px;
}

.map {
    display: none;
    position: fixed;
    top:250px;
    left: 35vw;    
}

.map-img {
    transition: all 200ms ease-in-out;
 }

.map-img:hover {
   transform: scale(1.4);
}

.point-of-map {
    margin-left: 300px;
    margin-top: 500px;
}

.point {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: rgba(201, 6, 6, 0.75);
    color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 100ms ease-in-out;
}

.point:hover {
    transform: scale(2);
    background-color: rgba(201, 6, 6, 0.95);
}

.challenge-2 {
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team-selection {
    flex-direction: column;
}

.members {
    display: flex;
    justify-content: center;
    align-items: center;
}

.member-type {
    flex-direction: column;
}

.sticker-image {
    width: 30vw;
}

.button {
    backface-visibility: hidden;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  background: #469444;
  border-radius: 6px;
  border: 0px solid #444;
  border-width: 0px 0px 0px 0px;
  padding: 10px 20px 10px 20px;
    color: #fff;
  font-size: 16px;
  font-family: Helvetica Neue;
  font-weight: 900;
  font-style: normal
  }
  .button > div {
    color: #999;
  font-size: 10px;
  font-family: Helvetica Neue;
  font-weight: initial;
  font-style: normal;
  text-align: center;
  margin: 0px 0px 0px 0px
  }
  .button > i {
    font-size: 1em;
  border-radius: 6px;
  border: 1px dashed #fff;
  border-width: 1px 1px 1px 1px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px
  }
  .button > .ld {
    font-size: initial
  }

.challenge-3 {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.member-type {
    flex-direction: column;
}

.sticker-image {
    width: 30vw;
}

.challenge-3 h2 {
    margin: 0;
}

.treasure-box {
    height: 200px;
    width: 200px;
}

.treasure-image {
    height: 200px;
    width: 200px;
}

.padlock1 {
    display: flex;
    width: 500px;
    height: 140px;
    background-color: silver;
    border: 2px solid gray;
    position: relative;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
}

.padlock2 {
    display: none;
    width: 500px;
    height: 140px;
    background-color: silver;
    border: 2px solid gray;
    position: relative;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
}

.padlock-password {
    width: 100px;
    background-color: #263238;
    display: flex;
    align-items: center;
    justify-content: center;
}

.breaker {
    background-color: #37474f;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pin {
    background-color: #263238;
    height: 25%;
    width: 70%;
    border-radius: 5px;
    margin: 5px;
}

.number-code {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    text-align: center;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    text-align: center;
}

.game-result {
    margin-bottom: 20px;
}

.game-result2 {
    display: none;
    margin-bottom: 20px;
}

/* Primera seccion con el reto exacto a lo solicitado */

.map-img-border {
    border: solid 0 red;
    border-width: 0px;
}


/* -------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------- */


@media only screen and (min-width: 768px) and (max-width: 999px) {
    body {
        background-color: black;
    }

    .music-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 55px;
        height: 35px;
        position: sticky;
        top: 70px;
        right: 20px;
        background-color: grey;
        border-radius: 10px;
        cursor: pointer;
    }
    
    h1, h2, h3 {
    font-size: 22px;
    }

    h4, h5, h6 {
        font-size: 18px;
    }
    
    p {
        font-family: 'Atma', cursive;
        color: white;
        text-align: center;
    }
    
    .challenge-1 {
        height: 100vh;
    }
    
    .tutorial-message {
        display: none;
        position: fixed;
        top: 165px;
        right: 10px;  
        font-size:14px; 
    }
    
    .map-button {
        display: none;
        position: fixed;
        top: 120px;
        right: 0;
        background-color: #263238;
        padding-left: 20px;
        border-radius: 35px 0 0 35px;
    }
    
    .map-button img {
        height: 50px;
        margin-right: 60px;
    }
    
    .map {
        display: none;
        position: fixed;
        top:250px;
        left: 25vw;  
        z-index: 2; 
    }
    
    .map-img {
        transition: all 200ms ease-in-out;
     }
    
    .map-img:hover {
       transform: scale(1.4);
    }
    
    .point-of-map {
        margin-left: 100px;
        margin-top: 400px;
    }
    
    .point {
        height: 20px;
        width: 20px;
        border-radius: 100%;
        background-color: rgba(201, 6, 6, 0.75);
        color: lightgray;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: all 100ms ease-in-out;
        z-index: 1;
    }
    
    .point:hover {
        transform: scale(2);
        background-color: rgba(201, 6, 6, 0.95);
    }
    
    .challenge-2 {
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .team-selection {
        flex-direction: column;
    }
    
    .members {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .member-type {
        flex-direction: column;
    }
    
    /* .member-image {
        height: 200px;
    } */
    
    .sticker-image {
        width: 20vw;
    }
    
    .button {
        backface-visibility: hidden;
      position: relative;
      cursor: pointer;
      display: inline-block;
      white-space: nowrap;
      background: #469444;
      border-radius: 6px;
      border: 0px solid #444;
      border-width: 0px 0px 0px 0px;
      padding: 10px 20px 10px 20px;
        color: #fff;
      font-size: 16px;
      font-family: Helvetica Neue;
      font-weight: 900;
      font-style: normal
      }
      .button > div {
        color: #999;
      font-size: 10px;
      font-family: Helvetica Neue;
      font-weight: initial;
      font-style: normal;
      text-align: center;
      margin: 0px 0px 0px 0px
      }
      .button > i {
        font-size: 1em;
      border-radius: 6px;
      border: 1px dashed #fff;
      border-width: 1px 1px 1px 1px;
      padding: 0px 0px 0px 0px;
      margin: 0px 0px 0px 0px;
      position: absolute;
      top: 2px;
      left: 2px;
      bottom: 2px;
      right: 2px
      }
      .button > .ld {
        font-size: initial
      }
    
    .challenge-3 {
        display: flex;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .member-type {
        flex-direction: column;
    }
    
    .sticker-image {
        width: 30vw;
    }
    
    .challenge-3 h2 {
        margin: 0;
    }
    
    .treasure-box {
        height: 200px;
        width: 200px;
    }
    
    .treasure-image {
        height: 200px;
        width: 200px;
    }
    
    .padlock1 {
        display: flex;
        width: 500px;
        height: 140px;
        background-color: silver;
        border: 2px solid gray;
        position: relative;
        border-radius: 5px;
        margin-bottom: 20px;
        text-align: center;
    }
    
    .padlock2 {
        display: none;
        width: 500px;
        height: 140px;
        background-color: silver;
        border: 2px solid gray;
        position: relative;
        border-radius: 5px;
        margin-bottom: 20px;
        text-align: center;
    }
    
    .padlock-password {
        width: 100px;
        background-color: #263238;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .breaker {
        background-color: #37474f;
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .pin {
        background-color: #263238;
        height: 25%;
        width: 70%;
        border-radius: 5px;
        margin: 5px;
    }
    
    .number-code {
        width: 100%;
        padding: 5px;
        font-size: 16px;
        text-align: center;
        border: none;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-color: transparent;
        text-align: center;
    }
    
    .game-result {
        margin-bottom: 20px;
    }
    
    .game-result2 {
        display: none;
        margin-bottom: 20px;
    }
    
    /* Primera seccion con el reto exacto a lo solicitado */
    
    .map-img-border {
        border: solid 0 red;
        border-width: 0px;
    }
}


/* -------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------- */


@media only screen and (min-width: 574px) and (max-width: 768px) {
    body {
        background-color: black;
    }

    .music-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 55px;
        height: 35px;
        position: sticky;
        top: 70px;
        right: 20px;
        background-color: grey;
        border-radius: 10px;
        cursor: pointer;
    }
    
    h1, h2, h3 {
    font-size: 22px;
    }

    h4, h5, h6 {
        font-size: 18px;
    }
    
    p {
        font-family: 'Atma', cursive;
        color: white;
        text-align: center;
    }
    
    .challenge-1 {
        height: 100vh;
    }
    
    .tutorial-message {
        display: none;
        position: fixed;
        top: 165px;
        right: 10px;  
        font-size:14px; 
    }
    
    .map-button {
        display: none;
        position: fixed;
        top: 120px;
        right: 0;
        background-color: #263238;
        padding-left: 20px;
        border-radius: 35px 0 0 35px;
    }
    
    .map-button img {
        height: 50px;
        margin-right: 60px;
    }
    
    .map {
        display: none;
        position: fixed;
        top:250px;
        left: 25vw;  
        z-index: 2; 
    }
    
    .map-img {
        transition: all 200ms ease-in-out;
        height: 320px;
     }
    
    .map-img:hover {
       transform: scale(1.4);
    }
    
    .point-of-map {
        margin-left: 100px;
        margin-top: 400px;
    }
    
    .point {
        height: 20px;
        width: 20px;
        border-radius: 100%;
        background-color: rgba(201, 6, 6, 0.75);
        color: lightgray;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: all 100ms ease-in-out;
        z-index: 1;
    }
    
    .point:hover {
        transform: scale(2);
        background-color: rgba(201, 6, 6, 0.95);
    }
    
    .challenge-2 {
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .team-selection {
        flex-direction: column;
    }
    
    .members {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .member-type {
        flex-direction: column;
    }
    
    /* .member-image {
        height: 200px;
    } */
    
    .sticker-image {
        width: 20vw;
    }
    
    .button {
        backface-visibility: hidden;
      position: relative;
      cursor: pointer;
      display: inline-block;
      white-space: nowrap;
      background: #469444;
      border-radius: 6px;
      border: 0px solid #444;
      border-width: 0px 0px 0px 0px;
      padding: 10px 20px 10px 20px;
        color: #fff;
      font-size: 16px;
      font-family: Helvetica Neue;
      font-weight: 900;
      font-style: normal
      }
      .button > div {
        color: #999;
      font-size: 10px;
      font-family: Helvetica Neue;
      font-weight: initial;
      font-style: normal;
      text-align: center;
      margin: 0px 0px 0px 0px
      }
      .button > i {
        font-size: 1em;
      border-radius: 6px;
      border: 1px dashed #fff;
      border-width: 1px 1px 1px 1px;
      padding: 0px 0px 0px 0px;
      margin: 0px 0px 0px 0px;
      position: absolute;
      top: 2px;
      left: 2px;
      bottom: 2px;
      right: 2px
      }
      .button > .ld {
        font-size: initial
      }
    
    .challenge-3 {
        display: flex;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .member-type {
        flex-direction: column;
    }
    
    .sticker-image {
        width: 30vw;
    }
    
    .challenge-3 h2 {
        margin: 0;
    }
    
    .treasure-box {
        height: 200px;
        width: 200px;
    }
    
    .treasure-image {
        height: 200px;
        width: 200px;
    }
    
    .padlock1 {
        display: flex;
        width: 500px;
        height: 140px;
        background-color: silver;
        border: 2px solid gray;
        position: relative;
        border-radius: 5px;
        margin-bottom: 20px;
        text-align: center;
    }
    
    .padlock2 {
        display: none;
        width: 500px;
        height: 140px;
        background-color: silver;
        border: 2px solid gray;
        position: relative;
        border-radius: 5px;
        margin-bottom: 20px;
        text-align: center;
    }
    
    .padlock-password {
        width: 100px;
        background-color: #263238;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .breaker {
        background-color: #37474f;
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .pin {
        background-color: #263238;
        height: 25%;
        width: 70%;
        border-radius: 5px;
        margin: 5px;
    }
    
    .number-code {
        width: 100%;
        padding: 5px;
        font-size: 16px;
        text-align: center;
        border: none;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-color: transparent;
        text-align: center;
    }
    
    .game-result {
        margin-bottom: 20px;
    }
    
    .game-result2 {
        display: none;
        margin-bottom: 20px;
    }
    
    /* Primera seccion con el reto exacto a lo solicitado */
    
    .map-img-border {
        border: solid 0 red;
        border-width: 0px;
    }
}


/* -------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------- */


@media only screen and (min-width: 485px) and (max-width: 573px) {
    body {
        background-color: black;
    }
    
    .music-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 55px;
        height: 35px;
        position: sticky;
        top: 70px;
        right: 20px;
        background-color: grey;
        border-radius: 10px;
        cursor: pointer;
    }

    h1, h2, h3 {
    font-size: 22px;
    }

    h4, h5, h6 {
        font-size: 18px;
    }
    
    p {
        font-family: 'Atma', cursive;
        color: white;
        text-align: center;
    }
    
    .challenge-1 {
        height: 100vh;
    }
    
    .tutorial-message {
        display: none;
        position: fixed;
        top: 165px;
        right: 10px;  
        font-size:14px; 
    }
    
    .map-button {
        display: none;
        position: fixed;
        top: 120px;
        right: 0;
        background-color: #263238;
        padding-left: 20px;
        border-radius: 35px 0 0 35px;
    }
    
    .map-button img {
        height: 50px;
        margin-right: 60px;
    }
    
    .map {
        display: none;
        position: fixed;
        top:250px;
        left: 25vw;  
        z-index: 2; 
    }
    
    .map-img {
        transition: all 200ms ease-in-out;
        height: 320px;
     }
    
    .map-img:hover {
       transform: scale(1.3) translateX(-40px);
    }
    
    .point-of-map {
        margin-left: 60px;
        margin-top: 400px;
    }
    
    .point {
        height: 20px;
        width: 20px;
        border-radius: 100%;
        background-color: rgba(201, 6, 6, 0.75);
        color: lightgray;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: all 100ms ease-in-out;
        z-index: 1;
    }
    
    .point:hover {
        transform: scale(2);
        background-color: rgba(201, 6, 6, 0.95);
    }
    
    .challenge-2 {
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .team-selection {
        flex-direction: column;
    }
    
    .members {
        display: flex;
        justify-content: center;
        align-items: baseline;
    }

    .members h4 {
        width: 60%;
    }
    
    .member-type {
        flex-direction: column;
    }
    
    .member-quantity {
        width: 50px;
    }
    
    .sticker-image {
        width: 20vw;
    }
    
    .button {
        backface-visibility: hidden;
      position: relative;
      cursor: pointer;
      display: inline-block;
      white-space: nowrap;
      background: #469444;
      border-radius: 6px;
      border: 0px solid #444;
      border-width: 0px 0px 0px 0px;
      padding: 10px 20px 10px 20px;
        color: #fff;
      font-size: 16px;
      font-family: Helvetica Neue;
      font-weight: 900;
      font-style: normal
      }
      .button > div {
        color: #999;
      font-size: 10px;
      font-family: Helvetica Neue;
      font-weight: initial;
      font-style: normal;
      text-align: center;
      margin: 0px 0px 0px 0px
      }
      .button > i {
        font-size: 1em;
      border-radius: 6px;
      border: 1px dashed #fff;
      border-width: 1px 1px 1px 1px;
      padding: 0px 0px 0px 0px;
      margin: 0px 0px 0px 0px;
      position: absolute;
      top: 2px;
      left: 2px;
      bottom: 2px;
      right: 2px
      }
      .button > .ld {
        font-size: initial
      }
    
    .challenge-3 {
        display: flex;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .member-type {
        flex-direction: column;
    }
    
    .sticker-image {
        width: 30vw;
    }
    
    .challenge-3 h2 {
        margin: 0;
    }
    
    .treasure-box {
        height: 200px;
        width: 200px;
    }
    
    .treasure-image {
        height: 200px;
        width: 200px;
    }
    
    .padlock1 {
        display: flex;
        width: 350px;
        height: 120px;
        background-color: silver;
        border: 2px solid gray;
        position: relative;
        border-radius: 5px;
        margin-bottom: 20px;
        text-align: center;
    }
    
    .padlock2 {
        display: none;
        width: 350px;
        height: 120px;
        background-color: silver;
        border: 2px solid gray;
        position: relative;
        border-radius: 5px;
        margin-bottom: 20px;
        text-align: center;
    }
    
    .padlock-password {
        width: 100px;
        background-color: #263238;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .breaker {
        background-color: #37474f;
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .pin {
        background-color: #263238;
        height: 25%;
        width: 70%;
        border-radius: 5px;
        margin: 5px;
    }
    
    .number-code {
        width: 100%;
        padding: 5px;
        font-size: 16px;
        text-align: center;
        border: none;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-color: transparent;
        text-align: center;
    }
    
    .game-result {
        margin-bottom: 20px;
    }
    
    .game-result2 {
        display: none;
        margin-bottom: 20px;
    }
    
    /* Primera seccion con el reto exacto a lo solicitado */
    
    .map-img-border {
        border: solid 0 red;
        border-width: 0px;
    }
}


/* -------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------- */


@media only screen and (min-width: 390px) and (max-width: 484px) {
    body {
        background-color: black;
    }
    .music-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 55px;
        height: 35px;
        position: sticky;
        top: 70px;
        right: 20px;
        background-color: grey;
        border-radius: 10px;
        cursor: pointer;
    }
    
    h1, h2, h3 {
    font-size: 22px;
    }

    h4, h5, h6 {
        font-size: 18px;
    }
    
    p {
        font-family: 'Atma', cursive;
        color: white;
        text-align: center;
    }
    
    .challenge-1 {
        height: 100vh;
    }
    
    .tutorial-message {
        display: none;
        position: fixed;
        top: 165px;
        right: 10px;  
        font-size:14px; 
    }
    
    .map-button {
        display: none;
        position: fixed;
        top: 120px;
        right: 0;
        background-color: #263238;
        padding-left: 20px;
        border-radius: 35px 0 0 35px;
    }
    
    .map-button img {
        height: 50px;
        margin-right: 60px;
    }
    
    .map {
        display: none;
        position: fixed;
        top:250px;
        left: 25vw;  
        z-index: 2; 
    }
    
    .map-img {
        transition: all 200ms ease-in-out;
        height: 260px;
     }
    
    .map-img:hover {
       transform: scale(1.3) translateX(-25px);
    }
    
    .point-of-map {
        margin-left: 60px;
        margin-top: 400px;
    }
    
    .point {
        height: 20px;
        width: 20px;
        border-radius: 100%;
        background-color: rgba(201, 6, 6, 0.75);
        color: lightgray;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: all 100ms ease-in-out;
        z-index: 1;
    }
    
    .point:hover {
        transform: scale(2);
        background-color: rgba(201, 6, 6, 0.95);
    }
    
    .challenge-2 {
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .team-selection {
        flex-direction: column;
    }
    
    .members {
        display: flex;
        justify-content: center;
        align-items: baseline;
    }

    .members h4 {
        width: 60%;
    }
    
    .member-type {
        flex-direction: column;
    }
    
    .member-quantity {
        width: 50px;
    }
    
    .sticker-image {
        width: 20vw;
    }
    
    .button {
        backface-visibility: hidden;
      position: relative;
      cursor: pointer;
      display: inline-block;
      white-space: nowrap;
      background: #469444;
      border-radius: 6px;
      border: 0px solid #444;
      border-width: 0px 0px 0px 0px;
      padding: 10px 20px 10px 20px;
        color: #fff;
      font-size: 16px;
      font-family: Helvetica Neue;
      font-weight: 900;
      font-style: normal
      }
      .button > div {
        color: #999;
      font-size: 10px;
      font-family: Helvetica Neue;
      font-weight: initial;
      font-style: normal;
      text-align: center;
      margin: 0px 0px 0px 0px
      }
      .button > i {
        font-size: 1em;
      border-radius: 6px;
      border: 1px dashed #fff;
      border-width: 1px 1px 1px 1px;
      padding: 0px 0px 0px 0px;
      margin: 0px 0px 0px 0px;
      position: absolute;
      top: 2px;
      left: 2px;
      bottom: 2px;
      right: 2px
      }
      .button > .ld {
        font-size: initial
      }
    
    .challenge-3 {
        display: flex;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .member-type {
        flex-direction: column;
    }
    
    .sticker-image {
        width: 30vw;
    }
    
    .challenge-3 h2 {
        margin: 0;
    }
    
    .treasure-box {
        height: 200px;
        width: 200px;
    }
    
    .treasure-image {
        height: 200px;
        width: 200px;
    }
    
    .padlock1 {
        display: flex;
        width: 350px;
        height: 120px;
        background-color: silver;
        border: 2px solid gray;
        position: relative;
        border-radius: 5px;
        margin-bottom: 20px;
        text-align: center;
    }
    
    .padlock2 {
        display: none;
        width: 350px;
        height: 120px;
        background-color: silver;
        border: 2px solid gray;
        position: relative;
        border-radius: 5px;
        margin-bottom: 20px;
        text-align: center;
    }
    
    .padlock-password {
        width: 100px;
        background-color: #263238;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .breaker {
        background-color: #37474f;
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .pin {
        background-color: #263238;
        height: 25%;
        width: 70%;
        border-radius: 5px;
        margin: 5px;
    }
    
    .number-code {
        width: 100%;
        padding: 5px;
        font-size: 16px;
        text-align: center;
        border: none;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-color: transparent;
        text-align: center;
    }
    
    .game-result {
        margin-bottom: 20px;
    }
    
    .game-result2 {
        display: none;
        margin-bottom: 20px;
    }
    
    /* Primera seccion con el reto exacto a lo solicitado */
    
    .map-img-border {
        border: solid 0 red;
        border-width: 0px;
    }
}


/* -------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------- */


@media only screen and (max-width: 389px) {
    body {
        background-color: black;
    }

    .music-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 55px;
        height: 35px;
        position: sticky;
        top: 70px;
        right: 20px;
        background-color: grey;
        border-radius: 10px;
        cursor: pointer;
    }
    
    h1, h2, h3 {
    font-size: 22px;
    }

    h4, h5, h6 {
        font-size: 18px;
    }
    
    p {
        font-family: 'Atma', cursive;
        color: white;
        text-align: center;
    }
    
    .challenge-1 {
        height: 100vh;
    }
    
    .tutorial-message {
        display: none;
        position: fixed;
        top: 165px;
        right: 10px;  
        font-size:14px; 
    }
    
    .map-button {
        display: none;
        position: fixed;
        top: 120px;
        right: 0;
        background-color: #263238;
        padding-left: 20px;
        border-radius: 35px 0 0 35px;
    }
    
    .map-button img {
        height: 50px;
        margin-right: 60px;
    }
    
    .map {
        display: none;
        position: fixed;
        top:250px;
        left: 25vw;  
        z-index: 2; 
    }
    
    .map-img {
        transition: all 200ms ease-in-out;
        height: 230px;
     }
    
    .map-img:hover {
       transform: scale(1.3) translateX(-25px);
    }
    
    .point-of-map {
        margin-left: 60px;
        margin-top: 400px;
    }
    
    .point {
        height: 20px;
        width: 20px;
        border-radius: 100%;
        background-color: rgba(201, 6, 6, 0.75);
        color: lightgray;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: all 100ms ease-in-out;
        z-index: 1;
    }
    
    .point:hover {
        transform: scale(2);
        background-color: rgba(201, 6, 6, 0.95);
    }
    
    .challenge-2 {
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .team-selection {
        flex-direction: column;
    }
    
    .members {
        display: flex;
        justify-content: center;
        align-items: baseline;
    }

    .members h4 {
        width: 60%;
    }
    
    .member-type {
        flex-direction: column;
    }
    
    .member-quantity {
        width: 50px;
    }
    
    .sticker-image {
        width: 20vw;
    }
    
    .button {
        backface-visibility: hidden;
      position: relative;
      cursor: pointer;
      display: inline-block;
      white-space: nowrap;
      background: #469444;
      border-radius: 6px;
      border: 0px solid #444;
      border-width: 0px 0px 0px 0px;
      padding: 10px 20px 10px 20px;
        color: #fff;
      font-size: 16px;
      font-family: Helvetica Neue;
      font-weight: 900;
      font-style: normal
      }
      .button > div {
        color: #999;
      font-size: 10px;
      font-family: Helvetica Neue;
      font-weight: initial;
      font-style: normal;
      text-align: center;
      margin: 0px 0px 0px 0px
      }
      .button > i {
        font-size: 1em;
      border-radius: 6px;
      border: 1px dashed #fff;
      border-width: 1px 1px 1px 1px;
      padding: 0px 0px 0px 0px;
      margin: 0px 0px 0px 0px;
      position: absolute;
      top: 2px;
      left: 2px;
      bottom: 2px;
      right: 2px
      }
      .button > .ld {
        font-size: initial
      }
    
    .challenge-3 {
        display: flex;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .member-type {
        flex-direction: column;
    }
    
    .sticker-image {
        width: 30vw;
    }
    
    .challenge-3 h2 {
        margin: 0;
    }
    
    .treasure-box {
        height: 200px;
        width: 200px;
    }
    
    .treasure-image {
        height: 200px;
        width: 200px;
    }
    
    .padlock1 {
        display: flex;
        width: 350px;
        height: 120px;
        background-color: silver;
        border: 2px solid gray;
        position: relative;
        border-radius: 5px;
        margin-bottom: 20px;
        text-align: center;
    }
    
    .padlock2 {
        display: none;
        width: 350px;
        height: 120px;
        background-color: silver;
        border: 2px solid gray;
        position: relative;
        border-radius: 5px;
        margin-bottom: 20px;
        text-align: center;
    }
    
    .padlock-password {
        width: 100px;
        background-color: #263238;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .breaker {
        background-color: #37474f;
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .pin {
        background-color: #263238;
        height: 25%;
        width: 70%;
        border-radius: 5px;
        margin: 5px;
    }
    
    .number-code {
        width: 100%;
        padding: 5px;
        font-size: 16px;
        text-align: center;
        border: none;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-color: transparent;
        text-align: center;
    }
    
    .game-result {
        margin-bottom: 20px;
    }
    
    .game-result2 {
        display: none;
        margin-bottom: 20px;
    }
    
    /* Primera seccion con el reto exacto a lo solicitado */
    
    .map-img-border {
        border: solid 0 red;
        border-width: 0px;
    }
}